node_modules
.env
coverage
coverage.json
typechain
typechain-types
.prettierignore
.prettierrc
yarn.lock
.vscode/extensions/GitHub-Copilot-*/

#Hardhat files
cache
artifacts
gas-report.txt
deployments

